* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    text-decoration: none;
}


body{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 243 243'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='franctalNoise' baseFrequency='3.3'%3E%3C/feTurbulence%3E%3C/filter%3E%3Crect width='100%25' height='100%25' opacity='10%25' filter='url(%23noiseFilter)' /%3E%3C/svg%3E");
    background-color: #121212;
    
}

/* inicio do conteudo inicial */
.main__container{
    height: 40vh;
}

.main__title{
    color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Helvetica, sans-serif;
}

.main__container__wrapper {
height: 11vh;
display: grid;
place-items: center;
}

.my__name {
    color: #f7f7f7;
    width: 18ch;
    animation: typing 2s steps(17), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    font-family: Helvetica, sans-serif;
    font-size: max(30px, 3.0vw);
}

@media only screen and (max-width: 1440px){
    .my__name{
        font-size: max(60px, 3.0vw);
        
    }
}

@media only screen and (max-width: 425px){
    .my__name{
        font-size: max(30px, 1.50vw);
    }
}

@media only screen and (max-width:320px){
    .my__name{
        font-size: max(20px, 1.50vw);
    }
}

@keyframes cursor{
    50%{ border-color: transparent }
}

@keyframes typing{
    from {width: 0;}
}

@keyframes typing {
from {
    width: 0
}
}
    
@keyframes blink {
50% {
    border-color: transparent
}
}

.wrapper__subtitle{
    display: grid;
    place-items: center;
}

.subtitle{
    color: #f7f7f7;
    width: 34ch;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    animation: typing 4.5s, blink .7s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    font-size: max(20px, 1.5vw);
}

@media only screen and (max-width: 1440px){
    .subtitle{
        font-size: max(30px, 1.5vw);
    }
}

@media only screen and (max-width: 425px){
    .subtitle{
        font-size: max(15px, 0.3vw);
    }
}

@media only screen and (max-width: 320px){
    .subtitle{
        font-size: max(10px, 0.3vw);
    }
}
/* fim do conteudo inicial */


/* início do sobre mim */

.about__container{
    padding-top: 350px;
}

.about__wrapper{
    margin-top: 400px;
    margin: 100px auto;
    width: 75%;
}

.about__pfp{
    max-width: 600px;
    float: right;
    margin-right: 20px;
}

@media only screen and (max-width: 425px){
    .about__pfp{
    width: max(3px, 70vw);
    }
}

.about__text h2{
    font-size: 50px;
    color: #f7f7f7;
    font-family: Helvetica, sans-serif;
}

.about__text__p1{
    padding-top: 7px;
    font-size: max(20px, 1.0vw);
    color: #f7f7f7;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    max-width: 1300px
}

.about__text__p2{
    font-size: 22px;
    color: #f7f7f7;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

.about__tec__imgs img{
    text-align: center;
    margin-top: 10px;
    margin-right: 14px;
}




/* fim do sobre mim */

/* início dos projetos */
.projects__container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f7f7f7;
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    padding-top: 400px;
}

@media only screen and (max-width: 425px){
    .projects__container h2{
    font-size: 45px;
    }
}

.projetcs__desc{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f7f7f7;
    font-family: Helvetica, sans-serif;
    margin-top: 10px;
}

.gallery-content img{
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 10px;
    height: 325px;
}

@media only screen and (max-width: 425px){
    .gallery-content img{
    height: 250px;
    }
}

@media only screen and (max-width: 37px){
    .gallery-content img{
    height: 200px;
    }
}

#gallery{
    margin-top: 50px;
    text-align: center;
    width: 100%;
}
/* fim dos projetos */


/* início dos contatos */

.contact__container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f7f7f7;
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    padding-top: 400px;
}
.contact__email{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.icon__item{
    text-align: center;
    margin: 50px;

}


.icon__item img {
    height: 70px;
    display: block;
    margin: 0 auto;
}

.icon__item p {
    margin-top: 25px;
    font-size: 14px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}

.contact__icon__name{
    color: #A9A9A9;
}
.contact__user{
    color: #f7f7f7;
}