* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 243 243'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='franctalNoise' baseFrequency='3.3'%3E%3C/feTurbulence%3E%3C/filter%3E%3Crect width='100%25' height='100%25' opacity='10%25' filter='url(%23noiseFilter)' /%3E%3C/svg%3E");
    background-color: #121212;
}

/* inicio do conteudo inicial */
.main__container{
    height: 40vh;
}

.main__title{
    color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Helvetica, sans-serif;
    font-size: 60px;
}

.main__container__wrapper {
height: 11vh;
display: grid;
place-items: center;
}

.my__name {
    color: #f7f7f7;
    width: 23.5ch;
    animation: typing 2s steps(16), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: Helvetica, sans-serif;
    font-size: 3em;
}
@keyframes cursor{
    50%{ border-color: transparent }
}

@keyframes typing{
    from {width: 0;}
}

@keyframes typing {
from {
    width: 0
}
}
    
@keyframes blink {
50% {
    border-color: transparent
}
}

.wrapper__subtitle{
    display: grid;
    place-items: center;
}

.subtitle{
    color: #f7f7f7;
    width: 34ch;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    animation: typing 4.5s, blink .7s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.8em;
}
/* fim do conteudo inicial */


/* início do sobre mim */
.about__title{
    color: #f7f7f7;
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    padding-left: 60px;
    padding-top: 400px;
}

.about__desc{
    color: #f7f7f7;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 60px;
    padding-top: 5px;
}

.pfp__image{
    height: 500px;
}
/* fim do sobre mim */


/* início dos projetos */
.projects__container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f7f7f7;
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    padding-top: 400px;
}

.projetcs__desc{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f7f7f7;
    font-family: Helvetica, sans-serif;
    margin-top: 10px;
}

.gallery-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
/* fim dos projetos */